@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SmoothNanners.Web.TagHelpers
@model SmoothNanners.Web.Models.Portal.PortalSection

<section class="card border-@Model.BorderVariant.ToStringFast()">
    <div class="card-header border-2 border-white border-opacity-25 border-bottom">
        <h2 class="d-flex align-items-center mb-0">
            <svg bootstrap-icon="@Model.Icon" class="me-2"></svg>
            @Model.HeadingText
        </h2>
    </div>

    <div class="card-body vstack gap-2">
        @if (Model.Links.Count > 0)
        {
            <partial name="Shared/Portal/_PortalLinks" model="@Model.Links"/>
        }

        @if (Model.YouTubeVideoIds.Count > 0)
        {
            <partial name="Shared/Portal/_YouTubeEmbeds" model="@Model.YouTubeVideoIds"/>
        }
    </div>
</section>
