@model IList<SmoothNanners.Web.Models.Portal.PortalLink>

@foreach (var link in Model)
{
    <a
        href="@link.Url"
        target="_blank"
        rel="noreferrer"
        class="btn btn-lg btn-@link.BackgroundVariant.ToStringFast() hstack gap-2">
        <svg bootstrap-icon="@link.Icon"></svg>
        <span>@link.Text</span>
    </a>
}
