@model PortalSection

<section class="card border-@Model.Variant.ToStringFast()">
    <div class="card-header border-2 border-white border-opacity-25 border-bottom">
        <h2 class="hstack gap-2 mb-0">
            <svg bootstrap-icon="@Model.Icon"></svg>
            @Model.HeadingText
        </h2>
    </div>

    <div class="card-body vstack gap-2">
        @Model.ChildContent
    </div>
</section>
