body {
    background-color: oklch(0.282 0.091 267.935);
    background-image: linear-gradient(oklch(0.282 0.091 267.935) 0%, oklch(0.424 0.199 265.638) 100%);
}

p:last-child {
    margin-bottom: 0;
}

.container {
    max-width: 768px;
}
