@inherits LayoutComponentBase

<PageTitle>@AppConstants.SiteName</PageTitle>

<div class="container py-4">
    <header class="pb-3">
        <h1 class="font-handwritten text-5xl font-bold">@AppConstants.SiteName</h1>
    </header>

    <main>@Body</main>
</div>
