@import "tailwindcss" source(none);

@source "../**/*.cshtml";

@plugin "@iconify/tailwind4";

@theme {
    --font-handwritten: "Playpen Sans Variable", "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
    --font-roundsans: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
}

@layer base {
    @font-face {
        font-family: 'Playpen Sans Variable';
        font-style: normal;
        font-display: swap;
        font-weight: 100 800;
        src: url(@fontsource-variable/playpen-sans/files/playpen-sans-latin-wght-normal.woff2) format('woff2-variations');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    [class^="icon-"] {
        @apply align-middle;
    }

    p {
        @apply pb-3 last:pb-0;
    }
}

@utility container {
    @apply max-w-[768px] mx-auto px-4;
}
