@page "/error"
@using System.Diagnostics
@using Microsoft.AspNetCore.Mvc
@attribute [ResponseCache(Duration = 0, Location = ResponseCacheLocation.None, NoStore = true)]
@attribute [IgnoreAntiforgeryToken]

<Title>Error: @Code</Title>

<HeadContent>
    <meta name="robots" content="noindex"/>
</HeadContent>

<h2 class="text-4xl font-bold">Error: @Code</h2>

<p>@_message</p>

@if (_requestId is not null)
{
    <p class="text-sm">
        <strong>Request ID:</strong> <code>@_requestId</code>
    </p>
}

<div class="mt-4">
    <NavLink href="/"
             class="rounded-md border border-gray-600 bg-indigo-600 px-3 py-2 hover:bg-indigo-700 motion-safe:transition-colors motion-safe:duration-150 motion-safe:ease-in-out">
        Back to Home
    </NavLink>
</div>

@code{
    private string? _message;
    private string? _requestId;

    [SupplyParameterFromQuery]
    private int? Code { get; set; }

    [CascadingParameter]
    private HttpContext HttpContext { get; init; } = null!;

    protected override void OnInitialized()
    {
        if (Code is null or < 400 or > 599)
        {
            Code = StatusCodes.Status500InternalServerError;
        }

        _message = Code switch
        {
            StatusCodes.Status404NotFound => "The resource you are looking for was not found.",
            _ => "An error occurred while processing your request. Please try again later."
        };

        _requestId = Activity.Current?.Id ?? HttpContext!.TraceIdentifier;

        HttpContext!.Response.StatusCode = Code!.Value;
    }
}
