body {
    background-color: rgb(16, 42, 102);
    background-image: linear-gradient(rgb(19, 13, 77), rgb(16, 42, 102));
    background-repeat: no-repeat;
}

.container {
    max-width: 768px;
}

p:last-child {
    margin-bottom: 0;
}
