::deep p {
    padding-bottom: 0.75rem;

    &:last-child {
        padding-bottom: 0;
    }
}

#root {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: #162456;
    background-image: radial-gradient(at 50% 0%, oklab(0.585 0.0288678 -0.231205 / 0.09) 0%, rgba(0, 0, 0, 0) 70%);
    font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
    font-size: 1.5rem;
    color: #fff;
    line-height: 2rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.15) 0 1px 2px);

    & > div {
        max-width: 768px;
        margin: 0 auto;
        padding: 1rem;
    }
}

header {
    padding-bottom: 0.75rem;
}

h1 {
    background-clip: text;
    background-image: linear-gradient(to right, #fff 0%, oklch(0.967 0.003 264.542) 100%);
    color: transparent;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-size: 2.25rem;
    line-height: 3rem;
    text-align: center;

    @media (min-width: 640px) {
        & {
            font-size: 3rem;
            text-align: left;
        }
    }
}
