@page
@using Index = Routes.Pages.Index
@model ErrorModel
@{
    ViewData.SetTitle($"Error: {Model.Code}");
}

@section Head {
    <meta name="robots" content="noindex"/>
}

<h2>Error: @Model.Code</h2>

<p class="fs-4">@Model.Message</p>

<a for-route="@Index.Get()" class="mt-2 btn btn-lg btn-info">
    Back to Home
</a>
