@page
@using Index = Routes.Pages.Index
@model ErrorModel
@{
    ViewData.SetTitle($"Error: {Model.Code}");
}

<div class="text-sky-300">
    <h2>Error: @Model.Code</h2>

    <p>@Model.Message</p>

    @{
        /*
            <p class="text-sm text-gray-300">
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
         */
    }
</div>

<div class="mt-5">
    <a for-route="@Index.Get()" class="inline-block rounded-md bg-blue-600 px-3 py-2 hover:bg-blue-700 active:bg-blue-700">
        Back to Home
    </a>
</div>
