@page
@model Error
@{
    var title = ViewData.SetTitle($"Error: {(int)Model.Code}");
}

@section Head {
    <meta name="robots" content="noindex"/>
}

<h2>@title</h2>

<p>@Model.Message</p>

@if (Model.RequestId is not null)
{
    <p class="small">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<div class="mt-4">
    <a for-route="Routes.Pages.Index.Get()" class="btn btn-lg btn-primary">
        Back to Home
    </a>
</div>
