@page
@model Index

<div class="row gap-2 gx-2 mb-3">
    <div class="col-auto">
        <img src="~/assets/images/avatar.webp" asp-append-version="true" width="200" height="200"
             alt="@AppConstants.SiteName"
             class="img-fluid rounded" decoding="async" loading="eager"/>
    </div>

    <div class="col-sm fs-4">
        <p>Howdy! My name is Austin.</p>
        <p>I'm a gamer, musician, software engineer, and photographer.</p>
        <p>You can find links to my content and websites below!</p>
    </div>
</div>

<div class="row g-3">
    <div class="col-sm-6">
        @foreach (var card in Model.LeftCards)
        {
            <partial name="_PortalCard" model="card"/>
        }
    </div>

    <div class="col-sm-6">
        <div class="vstack gap-3">
            @foreach (var card in Model.RightCards)
            {
                <partial name="_PortalCard" model="card"/>
            }
        </div>
    </div>
</div>
