<section class="rounded-md border-3 @_borderVariantClass">
    <header class="border-b-2 border-b-gray-500 px-3 py-2">
        <h2 class="flex items-center gap-1.5 text-3xl">
            <Blazicon Svg="HeadingIcon"/>
            @HeadingText
        </h2>
    </header>

    <div class="flex flex-col gap-2 p-3">@ChildContent</div>
</section>

@code {
    private string? _borderVariantClass;

    [Parameter]
    [EditorRequired]
    public required Variant Variant { get; init; }

    [Parameter]
    [EditorRequired]
    public required string HeadingText { get; init; }

    [Parameter]
    [EditorRequired]
    public required SvgIcon HeadingIcon { get; init; }

    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; init; }

    protected override void OnInitialized()
    {
        _borderVariantClass = Variant switch
        {
            Variant.Indigo => "border-indigo-500",
            Variant.Pink => "border-pink-500",
            Variant.Cyan => "border-cyan-400",
            Variant.Blue => "border-blue-400",
            _ => throw new InvalidOperationException()
        };
    }
}
