@model PortalLink
@{
    var variantClass = Model.Variant switch
    {
        Variant.Black => "bg-black hover:bg-gray-900",
        Variant.Fuchsia => "bg-fuchsia-600 hover:bg-fuchsia-700",
        Variant.Indigo => "bg-indigo-500 hover:bg-indigo-600",
        Variant.Purple => "bg-purple-600 hover:bg-purple-700",
        Variant.Red => "bg-red-600 hover:bg-red-700",
        Variant.Sky => "bg-sky-600 hover:bg-sky-700",
        Variant.Slate => "bg-slate-800 hover:bg-slate-900",
        _ => throw new ArgumentOutOfRangeException(nameof(Model.Variant))
    };
}

<a href="@Model.Url" target="_blank" rel="noreferrer"
   class="flex items-center gap-1.5 rounded-md border border-gray-600 px-3 py-2 motion-safe:transition-colors motion-safe:duration-150 motion-safe:ease-in-out @variantClass">
    <blazicon icon="Model.Icon"/>
    @Model.ChildContent
</a>
