@model PortalSection
@{
    var borderVariantClass = Model.Variant switch
    {
        Variant.Indigo => "border-indigo-500",
        Variant.Pink => "border-pink-500",
        Variant.Cyan => "border-cyan-400",
        Variant.Blue => "border-blue-400",
        _ => throw new ArgumentOutOfRangeException(nameof(Model.Variant))
    };
}

<section class="rounded-md border-3 @borderVariantClass">
    <header class="border-b-2 border-b-gray-500 px-3 py-2">
        <h2 class="flex items-center gap-1.5 text-3xl">
            <blazicon icon="Model.HeadingIcon"/>
            @Model.HeadingText
        </h2>
    </header>

    <div class="flex flex-col gap-2 p-3">
        @Model.ChildContent
    </div>
</section>
