@model YouTubeEmbeds

<div class="flex flex-col gap-1.5" x-data="{currentId: null}">
    @foreach (var id in Model.VideoIds)
    {
        <div class="relative" x-show="currentId !== '@id'">
            <img src="https://i.ytimg.com/vi_webp/@id/mqdefault.webp" alt="YouTube Video" width="328"
                 height="186.5"
                 class="w-full rounded-md" decoding="async" loading="eager"/>

            <a href="https://www.youtube.com/watch?v=@id" aria-label="YouTube Video" target="_blank"
               rel="noreferrer"
               class="absolute inset-0 flex items-center justify-center hover:brightness-75 motion-safe:transition-all motion-safe:duration-150 motion-safe:ease-in-out"
               x-on:click.prevent="currentId = '@id'">
                <span class="icon-[logos--youtube-icon] w-[3.6rem] h-[3.6rem]"></span>
            </a>
        </div>

        <template x-if="currentId === '@id'">
            <iframe src="https://www.youtube.com/embed/@id?autoplay=1" title="YouTube Video"
                    allowFullScreen allow="autoplay" class="aspect-video h-auto w-full rounded-md"></iframe>
        </template>
    }
</div>
