<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(ViewData.TryGetTitle(out var title) ? $"{title} | {AppConstants.SiteName}" : AppConstants.SiteName)</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@AppConstants.SiteDescription"/>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="true"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@700&display=swap"/>
    <link rel="stylesheet" href="~/assets/app.css" asp-append-version="true"/>
    <script type="module" src="~/assets/app.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Head", false)
</head>
<body
    class="font-roundsans flex min-h-screen items-center bg-blue-950 bg-gradient-to-b from-blue-950 to-blue-800 text-2xl text-white drop-shadow">
<div class="container py-4">
    <header class="pb-3">
        <h1 class="font-handwritten text-5xl font-bold">@AppConstants.SiteName</h1>
    </header>

    <main>@RenderBody()</main>
</div>
</body>
</html>
