@{
    var title = ViewData.GetTitle();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@(title != null ? $"{title} | {AppConstants.SiteName}" : AppConstants.SiteName)</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="@AppConstants.SiteDescription"/>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="~/assets/main.css" asp-append-version="true"/>
    <script type="module" src="~/assets/main.js" asp-append-version="true"></script>
</head>
<body class="bg-[#102a66] bg-gradient-to-b from-[#130d4d] to-[#102a66] bg-no-repeat font-roundsans">
<div class="flex min-h-screen items-center text-xl leading-snug text-white drop-shadow-[0_1px_4px_rgba(255,255,255,0.15)] sm:text-2xl">
    <main class="container py-4">
        <h1 class="font-handwritten">@AppConstants.SiteName</h1>

        @RenderBody()
    </main>
</div>
</body>
</html>
