name: Deploy

on:
    push:
        branches: [ main ]

concurrency:
    group: deploy
    cancel-in-progress: true

jobs:
    test:
        uses: ./.github/workflows/test.yml
    build:
        needs: test
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   uses: ./.github/actions/setup-environment
            -   name: Build
                run: dotnet build ./src/SmoothNanners.Web -c Release
            -   name: Optimize assets
                run: |
                    npx -y purgecss \
                        --css "./src/SmoothNanners.Web/wwwroot/assets/vendors/bootswatch/dist/vapor/bootstrap.min.css" \
                        --content "./src/SmoothNanners.Web/Pages/**/*.cshtml" \
                        --output "./src/SmoothNanners.Web/wwwroot/assets/vendors/bootswatch/dist/vapor/bootstrap.min.css"
            -   name: SSG
                run: dotnet run --project ./src/SmoothNanners.Web -lp ssg -c Release --no-build
            -   name: Upload artifact
                id: deployment
                uses: actions/upload-pages-artifact@v4
                with:
                    path: ./src/SmoothNanners.Web/bin/Release/net10.0/ssg
    deploy:
        needs: build
        permissions:
            pages: write
            id-token: write
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            -   name: Deploy to GitHub Pages
                id: deployment
                uses: actions/deploy-pages@v4
