name: Test

on:
    workflow_call:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   uses: ./.github/actions/setup-environment
            -   name: Test
                run: dotnet test -c Release --results-directory ./test-results -- --report-ctrf
            -   if: always()
                name: Publish test report
                uses: ctrf-io/github-test-reporter@v1
                with:
                    report-path: ./test-results/*.json
                    github-report: true
