name: Test

on:
    workflow_call:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   uses: ./.github/actions/setup-environment
            -   name: Test
                run: dotnet test -c Release
